@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.gradient-border {
    position: relative;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .01);

    &::after {
        position: absolute;
        content: "";
        top: 8px;
        left: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        transform: scale(0.9) translateZ(0);
        filter: blur(15px);
        background: linear-gradient(to left,
                #ff5770,
                #e4428d,
                #c42da8,
                #9e16c3,
                #6501de,
                #9e16c3,
                #c42da8,
                #e4428d,
                #ff5770);
        background-size: 200% 200%;
        animation: animateGlow 1.50s linear infinite;
    }
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}


.shimmer-background {
    background: linear-gradient(122deg, #000, #dc2626, #000);
    background-size: 180% 180%;
    animation: gradient-animation 3s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}